# 25 Tips To Get Started - Data Analytics for Engineers

*Wednesday 7th of February 2018*

# A. Jupyter Notebooks

## 0. Join AllAnswers!

Show invitations pending list  
https://www.allanswered.com/community/s/data-analytics-for-engineers/

## 1. `Code` vs Markdown Cell vs Comment

In [1]:
print("Good morning!")

Good morning!

In [2]:
print("Good morning!")

Good morning!

In [3]:
# print("Good morning!")

## 2. Single-line vs Multi-line comments (a.k.a. `docstring`)

In [4]:
'''
Once upon a time, a long, long time ago 27 Sustainable Innovation students attended a 
lab session in the Paviljoen. All of them arrived in time, posed thoughtful questions 
on AllAnswers beforehand and finished their homework well in advance. 
'''

'\nOnce upon a time, a long, long time ago 27 Sustainable Innovation students attended a \nlab session in the Paviljoen. All of them arrived in time, posed thoughtful questions \non AllAnswers beforehand and finished their homework well in advance. \n'

In [5]:
# what does "\n" do? 
print('First line \nSecond line')

First line
Second line

In [6]:
# what will be the output of the line below?

In [7]:
'First line \n Second line'

'First line \n Second line'

## 3. Headings (H1, H2, ... H6)

# I am a H1!
## I am a H2! 
All the way to...
###### I am a H6!

*What will be the output if the following markdown text was to be executed?*  
`#### I am a H4`  
`####I am a H4`

## 4. Inserting Cells Above (A), Below (B)

## 5. Moving cells up or down

In [8]:
# easier way than copy pasting

## 6. Removing cell content + cell

## 7. Copying cells

1. Using the tool bar
2. Click cell you want to copy >> C >> Click on desired location >> V (pastes below cell)

## 8. What is LaTeX?

$ \sqrt{9} \times \frac{1}{3} = 1 $

## 9. "Enters" / Force a line-break

Code seems to be on different lines <br />
But actually is NOT!

In [9]:
# use "double space + ENTER" or "<br />"

## 10. Tables

| Student | Exam Grade | 
| ------ | ------ | 
| Boris | 10 | 
| Melissa | 10 | 
| Filip | 10 | 
| Anna | 10 |

| Student | Exam Grade | 
| :------ | :------ | 
| Boris | 10 | 
| Melissa | 10 | 
| Filip | 10 | 
| Anna | 10 |

In [10]:
# show allignment of cells (:..., ...:, :....:)

## 11. Bold / Italics Text

In [11]:
# why would I get a syntax error? 
** bold text **

SyntaxError: invalid syntax (<ipython-input-11-cd4552c89901>, line 2)

#### What is the difference with the cell above? 
**text in bold typeface**   
*text in italics*

#### What will be the output?

`* hmmm.... *`

## 12. Making markdown text look like "`code`"

In [12]:
# When would that be helpful?

At initalisation `counter` is equal to 1. After we increment `counter` by 2 its value becomes 3.

In [13]:
counter = 1
counter += 2 # add 1 to counter
print(counter)

3

In [14]:
# Or if you want to emphasize the variable names even more..

At initalisation *`counter`* is equal to 1. After we increment **`counter`** by 2 its value becomes 3.

In [ ]:
# Show keyboard picture (the " ` " key)

## 13. What does `Number` in `In[Number]` actually mean (next to a code cell)?

## 14. Execution in "linear order"

In [ ]:
print(most_beautiful_department_TUe)

In [ ]:
most_beautiful_department_TUe = "Paviljoen"

## 15. How to run the cells underneath the cell that contains a bug / was interrupted (*@Elise*)

In [ ]:
"This code block will throw an error is incomplete (why?)

In [ ]:
print("I will not be executed unfortunately. Too bad..")

# B. Tool Basics

## 16. Why would I use the escape symbol? ("`\`")

In [16]:
"This is \"awesome\""

'This is "awesome"'

In [ ]:
'The first day Roy parked his bike at the station Roy\'s bike saddle was stolen'

* This is "awesome" (no it is not, or maybe...)
* The first day Roy parked his bike at the station Roy's bike saddle was stolen

## 17. How can we write 1 billion (1,000,000,000) faster?

In [ ]:
1e9

In [ ]:
# what will be the output?

In [17]:
3e-3

0.003

Put differently: $\frac{3}{10^3}$

## 18. Naming variables (convention)

In [ ]:
# snake_case
# camelCase

# what is the idea behind such conventions?

In [19]:
test = "some sentence"
print(test)

some sentence

## 19. Why would I use `print()`? After all, it shows me the output of a cell anyway

In [20]:
my_birthday = "21/04/1996"
my_brothers_birthday = "19/10/1998"

#### what will be the output?
`my_birthday
my_brothers_birthday`

In [22]:
print(my_birthday)
print(my_brothers_birthday)

21/04/1996
19/10/1998

## 20. Use of TAB

In [ ]:
# example my_birthday variable

## 21. Difference between floats and integers?

In [23]:
# what will be the output?
print(type(3))
print(type(3.0))

<class 'int'>
<class 'float'>

In [25]:
# what will be the output?
type(3) == type(3/10)

False

## 22. Converting floats to integers

In [26]:
int(3.5)

3

In [ ]:
# problem with converting to integer: 
int(1e-3)

In [27]:
int(1e-3) == 0

True

## 23. How to calculate $2^{10}$ in Python?

In [29]:
2^10

8

In [ ]:
# will 2^10 work?

For details:
https://docs.python.org/2/library/stdtypes.html#index-19

## 24. Logical operators used with strings

#### what will be the output? 
`"a" < "b"`

In [30]:
"a" < "b"

True

In [ ]:
"a" < "b" #lexicographic order

#### what will be the output?
`"ab" < "a"`

#### what will be the output?
`"the" < "their"`

In [31]:
"the" < "their"

True

## 25. Indexing starts at zero

#### What will the output be? 
`cities = ["Eindhoven", "Amsterdam", "Utrecht"]
print(cities[2]) 
print(cities[3])`

In [34]:
cities = ["Eindhoven", "Amsterdam", "Utrecht"]
print(cities[2])

Utrecht

In [36]:
# list in lists
capitals = [["Netherlands", "Amsterdam"], ["UK", "London"], ["France", "Paris"]]

In [37]:
# how do I select "London"?
capitals[1][1]

'London'

In [39]:
# how do I select [["Netherlands", "Amsterdam"], ["UK", "London"]]?
capitals[0:1]

[['Netherlands', 'Amsterdam']]

## Create a Chrome/Safari/Firefox/IE bookmark for this course

In [ ]:
# Show 2AIB0 example

## Where can I find these Jupyter Notebooks? 
AllAnswers Announcement >> Github (demo) + how to open a file in Jupyter Notebooks?

https://github.com/RoyKlaasseBos/Data-Analytics-for-Engineers

View code directly on Github:  
*https://github.com/RoyKlaasseBos/The-Quantified-Self/blob/master/JBP010_Quantify_Yourself_Assignment.ipynb*   
([Moments app](https://inthemoment.io))

## What am I supposed to do now?

In [ ]:
# Show PowerPoint from last Monday
# 1. Lab Exercises - Tool Basics-template.ipynb
# 2. Programming Lesson and Exercises - Pandas-template.ipynb
# 3. Lab Exercises EDA-template.ipynb 

# or have a look at the YouTube videos posted on AllAnswers